@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To My Library</h1>
    <p>In this web app you can add and delete books to keep track of what is in stock</p>
</div>
